@model Usuario
@{ Layout = "_Layout"; }
<div class="bg-success panel-body"><h2>Acesso Concedido</h2></div>
<table class="table table-bordered">

    <tr>
        <th>E-mail:</th>
        <td>@Model.Email</td>
    </tr>

</table>